body{
    background-color: #000000;
    font-family: "VT323", serif;
    text-shadow: #33FF33 0px 0px 20px;
}
.content {
    font-style: normal;
    color: #33FF33;
    font-size: 3.5rem;
    margin: 40px 0px 40px 40px;
}
.copyright {
    font-style: normal;
    color: #33FF33;
    font-size: 1.5rem;
    margin: 10px 0px 10px 40px;
}
p{
    margin:0px;
}